BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BreakTemplateDeclarations: Leave
PenaltyReturnTypeOnItsOwnLine: 1000
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BreakConstructorInitializers: AfterColon
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: false
IncludeBlocks: Regroup
